name: CD

on:
  release:
    types: [published]
      
jobs:
  publish:

    runs-on: ubuntu-latest
    permissions: write-all
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Use Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 22.x
        
    - name: Generate code
      run: npm run langium:generate

    - name: Build
      run: npm run build

    - name: Package
      run: npm run package

    - name: Publish extension
      uses: softprops/action-gh-release@v1
      with:
        files: oml-code\-*.vsix

    #- name: Deploy extension
    #  run: npx ovsx publish oml-code\-*.vsix -p ${OVSX_TOKEN}
    #  env:
    #    OVSX_TOKEN: ${{ secrets.OVSX_TOKEN }}
